#nav-bar
{
  background-color: rgb(192, 158, 158);
  height: 100%;
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  justify-items: center;
}

header
{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
   align-items: center;
}

.navbar
{
  background-color: #00FFFF;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1.5fr .2fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

#nav-bar
{
  background-color: rgb(192, 158, 158);
  height: 100%;
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  justify-items: center;
}

.nav-link
{
  text-align: center;
  font-size: 30px;
  color: #000000;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.Button{
  backface-visibility: hidden;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: Green;
  border-radius: 2px;
  border: 0px solid #444;
  border-width: 0px 0px 0px 0px;
    color: #fff;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  width:80%;
  height:60%;
  -webkit-box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.75); 
  min-height:50px;
}

#backdrop
{
  display: grid;
  background: #3399FF;
  height: 1000px;
  width: 100%;
  margin: 0;
  padding: 0;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  align-items: center;
  justify-items:center;
}

#form {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  grid-template-rows: 100px repeat(auto-fill, 100px);
  background-color:white;
  height: 1000px;
  width:100%;
  box-shadow: 0px -8px 24px -5px rgba(0,0,0,0.75);
  
}

#checklist {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  background-color:white;
  height: 100%;
  width:100%;
  margin:0px;
  
}

#title{
  font-size:30px;
}

#checkbox{
  width:50px;
  height:50px;
}

#checkboxOption
{
  font-size:30px;
  margin-top:5%;
}
