/* Makes everything touch the edges of the screen*/
*
{
	margin: 0;
	padding: 0;
}

/* Background Image*/
header
{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(background.jpg);
	height: 100vh;
	background-size: cover;
	background-position:center;
}
/*Makes our tabs centered on screen*/
.table{
	display: table;
	margin: 0 auto;
	/*margin-top: 25px;*/
}


/*Makes our ordered list into horizontal tabs*/
.nav-tabs li
{
	display: inline-block;
	margin-top: 25px;
}

/*tabs text formatting*/
.nav-tabs li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	transition: 0.45s ease;
}

/*Shows that the home page is the active page atm*/
.nav-tabs li.active-tab a
{
	border: 1px solid white;	/*Creates border around HOME*/
}

.nav-tabs a:hover{
	background-color: white;
	color: black;
}

/*CSS for articles*/
.samplearticles{
	display: table;
	margin: auto;
	margin-top: 300px;
}
.article {
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	height: 2em;
	width: max(150px,auto);
	border-radius: 5px;
	display: block;
	box-shadow: -5px 5px 5px gray;
}
/*Currently for article title in mind. No text underline until hover*/
a.article:link { 
	color: #000000; 
	text-decoration: none
}
a.article:visited { 
	color: #000000; 
	text-decoration: none
}
a.article:hover { 
	color: #3366CC; 
	text-decoration: underline
}
a.article:active { 
	color: #000000; 
	text-decoration: none
}